.sa0ElementCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sa0Wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

.sa0Container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.sa0Width100 {
    width: 100%;
}

.sa0Width50 {
    width: 50%;
}

.sa0DisplayInlineBlock {
    display: inline-block;
}

.sa0TextWhite {
    color: #ffffff;
}

.sa0BgWhite {
    background: #ffffff;
}

.sa0BgBlack {
    background: #2f2f2f;
}

.sa0BgYellow {
    background: #ffd83c;
}

.sa0BgRed {
    background: #e53e3e;
}

.sa0BgGreen {
    background: #52ba3d;
}

.sa0BgOrange {
    background: #ff983c;
}

.sa0BgCyan {
    background: #3acdcb;
}

.sa0BgBlue {
    background: #4646ff;
}

.sa0BgLittleBlue {
    background: #5d61ff;
}

.sa0BgPalePinkishGrey {
    background: #edd1d8;
}

.sa0BgRem {
    background: #91bef0;
}

.sa0BgRam {
    background: #efa5b5;
}

.sa0BgEmilia {
    background: #f3f3f3;
}

.sa0BgAsuna {
    background: #e2b282;
}

.sa0BgEugeo {
    background: #eac989;
}

.sa0BgKirito {
    background: #3c3f39;
}

.sa0BgAlice {
    background: #f0d681;
}

.sa0FR {
    float: right;
}

.sa0FL {
    float: left;
}

.sa0TextLeft {
    text-align: left;
}

.sa0TextCenter {
    text-align: center;
}

.sa0LineHeight {
    line-height: 1;
}

.sa0RoundPill {
    border-radius: 9999999rem;
}

.sa0Border {
    border: solid 1px #333333;
}

.sa0PositionAbsolute {
    position: absolute;
}

.sa0PositionFixed {
    position: fixed;
}

.sa0PositionRelative {
    position: relative;
}

.sa0CursorPointer {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sa0ZIndex100 {
    z-index: 100;
}

.sa0TextBold {
    font-weight: bold;
}

.sa0Top {
    top: 0;
}

.sa0Bottom {
    top: 0;
}

.sa0Left {
    left: 0;
}

.sa0Right {
    right: 0;
}

.sa0DisplayBlock {
    display: block;
}

.sa0BorderBottom {
    border-bottom: 1px solid #a3a3a3;
}

.sa0Shadow {
    box-shadow: 0 0 1rem #a3a3a3;
}

.sa0ShadowB {
    box-shadow: 0 0 2rem #a3a3a3;
}

.sa0ShadowS {
    box-shadow: 0 0 .5rem #a3a3a3;
}

.sa0MY20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sa0PY10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sa0MY10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
