.sa0ElementCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sa0Wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

.sa0Container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.sa0Width100 {
    width: 100%;
}

.sa0Width50 {
    width: 50%;
}

.sa0DisplayInlineBlock {
    display: inline-block;
}


.sa0FR {
    float: right;
}

.sa0FL {
    float: left;
}

.sa0TextLeft {
    text-align: left;
}

.sa0TextCenter {
    text-align: center;
}

.sa0LineHeight {
    line-height: 1;
}

.sa0RoundPill {
    border-radius: 9999999rem;
}

.sa0RoundCircle {
    border-radius: 50%;
}

.sa0RoundNone {
    border-radius: 0;
}

.sa0Border {
    border: solid 1px #333333;
}

.sa0PositionAbsolute {
    position: absolute;
}

.sa0PositionFixed {
    position: fixed;
}

.sa0PositionRelative {
    position: relative;
}

.sa0CursorPointer {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sa0ZIndex100 {
    z-index: 100;
}

.sa0TextBold {
    font-weight: bold;
}

.sa0Top {
    top: 0;
}

.sa0Bottom {
    top: 0;
}

.sa0Left {
    left: 0;
}

.sa0Right {
    right: 0;
}


.sa0DisplayBlock {
    display: block;
}

.sa0BorderBottom {
    border-bottom: 1px solid #a3a3a3;
}

.sa0Shadow {
    box-shadow: 0 0 1rem #a3a3a3;
}

.sa0ShadowB {
    box-shadow: 0 0 2rem #a3a3a3;
}

.sa0ShadowS {
    box-shadow: 0 0 .5rem #a3a3a3;
}

.sa0MX5 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.sa0MY20 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sa0PY10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sa0MY5 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.sa0MY10 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sa0Opacity50 {
    opacity: .5;
}
